#popular {
    width: 70%;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .buttons {
        position: absolute;
        display: flex;
        gap: 10px;
        right: -20px;
        top: -50px;
        button {
          padding: 5px 10px;
          outline: none;
          border: none;
          font-size: 18px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            background-color: lightblue;
            transform: scale(1.04);
          }
        }
        button.active {
          background-color: lightblue;
        }
      }
}